<footer class="padded bg-dark-featured text-light">
  <div class="grid capped-width">
    <div class="col-8_sm-12 footer-nav padded-b-1">
      <a href="/index.html">Home</a>
      <a href="#">Resources</a>
      <a href="#">Contribute</a>
      <a href="#">About</a>
    </div> 
  
  
    <div class="col-4_sm-12">
      <div class="padded-b-1">
        <h3>for change makers</h3>
        <p>Fostering leadership to drive the urgently needed change towards systemic sustainability</p>
      </div>
      <div>
        {% include social-share.html %}
      </div>
    </div>
  
    <div class="col-12 padded-t-1">
      <p class="subtle subtitle">Copyright © 2020 Accelerate Sustainability︱Web Design by Estela C F Pilz</p>
    </div>
  </div>

  </footer>
  