<div class="col-5">
  <a href="/" class="logo"> Accelerate Sustainability </a>
</div> 

<nav class="col-7 hide-sm right">
  <div class="dropdown">
    <p> Resources </p>
    <div class="dropdown-content">
      <a href="#"> for my leisure time </a>
      <a href="#"> for my study time </a>
      <a href="#"> for my work </a>
    </div> 
  </div>
    <a href="#"> Contribute </a>
    <a href="#"> About us </a>
</nav> 

<!-- Hamburger symbol -->
<div class="col-7 right show-sm">
  <a class="hamburger-button"> &#9776; </a>
</div>


<!-- Mobile Menu -->

<div class="mobile-menu"> 
<nav> 
  <div>
    <span>Resources</span>
    <a href="#"> for my leisure time </a>
    <a href="#"> for my study time </a>
    <a href="#"> for my work </a>
  </div>
  <a href="#"> Contribute </a>
  <a href="#"> About us </a>
</nav>
</div> 